/*
Theme Name: Heidi
Theme URI: http://alexaweidinger.com/heidi
Author: Alexa Weidinger
Author URI: http://alexaweidinger.com
Description: Heidi is a simple theme with a fun, easily customizable color scheme. Designed with a mobile-first approach and an emphasis on responsive design, Heidi is ready-for-use on a multitude of screen sizes and across devices.
Version: 1.0.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: heidi
Tags: right-sidebar, two-columns, custom-background, custom-colors, custom-header, editor-style, featured-images, sticky-post, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

heidi is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
html {
  font-size: 1.6rem;
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

header.header {
  background-color: #678493;
  padding: 15px 0;
}
header.header .header-logo {
  max-width: 230px;
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.menu li {
  display: inline-block;
}
ul.menu li a {
  color: #fff;
}
ul.menu li.btn.btn-shop {
  font-weight: 700;
  background-color: #ffd24d;
  margin: 20px 0 20px 10px;
}
ul.menu li.btn.btn-shop a {
  font-family: Ubuntu;
  color: #753e00;
}

.headline {
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 300;
  position: relative;
}

.section-intro .top {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  border-width: 0;
  border-style: none;
  padding: 40px 15px 215px;
  background-image: none;
  margin: 0;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.section-intro .top .title {
  font-size: 1.8rem;
  line-height: 1.2em;
}
.section-intro .top .subtitles p {
  line-height: 1.2em;
  font-size: 1rem;
}
.section-intro .top .headline {
  position: relative;
  margin: 0 0 50px;
  line-height: 1.2em;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
